{$DOMAIN} {
    reverse_proxy /api/* textbee-api:3000
    reverse_proxy /crm/* campaign-manager:4000
    reverse_proxy textbee-web:3000
    encode gzip zstd
    log
}

# Simble sub-stack (crm + web)
simble.{$DOMAIN} {
    reverse_proxy /api/* campaign-manager:4000
    reverse_proxy web:8080
    encode gzip zstd
    log
}
